@model OneCRS.MVC.Models.Sales.Project
<legend style=" margin-left:20px;background-color:#1f497d; padding-left:30px; padding-top:2px; padding-right:50px; padding-bottom:2px; color:white; border-radius:15px; border:3px solid #eeece1; font-size:18px; "><b>Manage Payment</b></legend>
<br />
<div class="row" ng-controller="ProjectController">
    <input type="hidden" id="HideProjectType" value="@Model.ProjectType"/>
    <input type="hidden" id="HideUserOnline" value="@Model.PT_UserIsOnlineInt" />
    <input type="hidden" id="HideAPOnline" value="@Model.PT_APIsOnlineInt" />
    <div class="col-lg-12">
        <div class="form-group">
            <label for=""><span style="color: red; font-size: 18px">*</span> Type of Project</label>
            <div class="radio">
                <label>
                    @if (Model.ProjectType == 1)
                    {
                        <input type="radio" value="1" name="mofp" id="proTypeNormal" checked="checked" data-radio="iradio_square-blue">
                    }
                    else
                    {
                        <input type="radio" value="1" name="mofp" id="proTypeNormal" data-radio="iradio_square-blue">
                    }
                    Retail
                </label>
            </div>
            <div class="radio">
                <label>
                    @if (Model.ProjectType == 2)
                    {
                        <input type="radio" value="2" name="mofp" id="proTypeContract" checked="checked" data-radio="iradio_square-blue">
                    }
                    else
                    {
                        <input type="radio" value="2" name="mofp" id="proTypeContract" data-radio="iradio_square-blue">
                    }
                    Contract
                </label>
            </div>
            <div class="radio">
                <label>
                    @if (Model.ProjectType == 3)
                    {
                        <input type="radio" value="3" name="mofp" id="proTypePO" checked="checked" data-radio="iradio_square-blue">
                    }
                    else
                    {
                        <input type="radio" value="3" name="mofp" id="proTypePO" data-radio="iradio_square-blue">
                    }
                    Purchase Order (PO)
                </label>
            </div>
            <div class="radio" id="HidePOFileUpload" style="display:none">
                <label style="display: inline-block; text-align: left; width: 160px; margin-top: 10px" for="ProjectPONumber"><span style="color: red; font-size: 18px">*</span> PO Number</label>
                <input type="text" style="width:30%" id="ProjectPONumber" name="ProjectPONumber" value="@Model.ProjectPONumber" class="form-control form-white" />
                <br />
                <label style="display: inline-block; text-align: left; width: 160px; margin-top: 10px;visibility:hidden" for=""><span style="color: red; font-size: 18px">*</span></label>
                <a href="@Model.projectPOFiles" target="_blank">View Purchase Order</a>
                <br />
                <label style="display: inline-block; text-align: left; width: 160px; margin-top: 10px" for="P_QuantityPO"><span style="color: red; font-size: 18px">*</span> Enter Quantity</label>
                <input type="number" style="width:30%" id="P_QuantityPO" name="P_QuantityPO" value="@Model.P_QuantityPO" class="form-control form-white" />
                <br /><br />
            </div>
            <div class="radio">
                <label>
                    @if (Model.ProjectType == 4)
                    {
                        <input type="radio" value="4" name="mofp" id="proTypePaid" checked="checked" data-radio="iradio_square-blue">
                    }
                    else
                    {
                        <input type="radio" value="4" name="mofp" id="proTypePaid" data-radio="iradio_square-blue">
                    }
                    Prepaid
                </label>
            </div>
            <div class="radio" id="HidePaidQuantity" style="display:none">
                <label style="display: inline-block; text-align: left; width: 160px" for="P_QuantityPaid"><span style="color: red; font-size: 18px">*</span> Enter Quantity</label>
                <input type="number" style="width:30%" id="P_QuantityPaid" name="P_QuantityPaid" value="@Model.P_QuantityPaid" class="form-control form-white" />
            </div>
        </div>
    </div>
    @*<div class="col-lg-6">
        <div class="form-group">
            <label for="">Public User</label>
            <div class="radio">
                <label>
                    @if (Model.PT_UserIsBypass == true)
                    {
                        <input type="checkbox" name="PT_UserIsBypass" id="ptuserbypass" checked="checked" data-checkbox="icheckbox_square-blue">
                    }
                    else
                    {
                        <input type="checkbox" name="PT_UserIsBypass" id="ptuserbypass" data-checkbox="icheckbox_square-blue">
                    }

                    Bypass Payment
                </label>
            </div>
            <div class="radio">
                <label>
                    @if (Model.PT_UserIsOnline == true)
                    {
                        <input type="checkbox" name="PT_UserIsOnline" id="ptuseronline" checked="checked" data-checkbox="icheckbox_square-blue">
                    }
                    else
                    {
                        <input type="checkbox" name="PT_UserIsOnline" id="ptuseronline" data-checkbox="icheckbox_square-blue">
                    }
                    Online Payment
                </label>
            </div>
            <div class="radio">
                <label>
                    @if (Model.PT_UserIsManual == true)
                    {
                        <input type="checkbox" name="PT_UserIsManual" id="ptusermanual" checked="checked" data-checkbox="icheckbox_square-blue">
                    }
                    else
                    {
                        <input type="checkbox" name="PT_UserIsManual" id="ptusermanual" data-checkbox="icheckbox_square-blue">
                    }
                    Manual
                </label>
            </div>
            <div id="ccaddress1" style="display:none">
                <label for="">User Online Payment URL</label>
                <input type="text" id="ptuserurl" name="PT_UserURL" value="@Model.PT_UserURL" class="form-control form-white" />
            </div>
        </div>
    </div>*@
    @*<div class="col-lg-6">
        <div class="form-group">
            <label for="">Authorized Personnel (AP)</label>
            <div class="radio">
                <label>
                    @if (Model.PT_APIsBypass == true)
                    {
                        <input type="checkbox" name="PT_APIsBypass" id="ptapbypass" checked="checked" data-checkbox="icheckbox_square-blue">
                    }
                    else
                    {
                        <input type="checkbox" name="PT_APIsBypass" id="ptapbypass" data-checkbox="icheckbox_square-blue">
                    }
                    Bypass Payment
                </label>
            </div>
            <div class="radio">
                <label>
                    @if (Model.PT_APIsOnline == true)
                    {
                        <input type="checkbox" name="PT_APIsOnline" id="ptaponline" checked="checked" data-checkbox="icheckbox_square-blue">
                    }
                    else
                    {
                        <input type="checkbox" name="PT_APIsOnline" id="ptaponline" data-checkbox="icheckbox_square-blue">
                    }
                    Online Payment
                </label>
            </div>
            <div class="radio">
                <label>
                    @if (Model.PT_APIsManual == true)
                    {
                        <input type="checkbox" name="PT_APIsManual" id="ptapmanual" checked="checked" data-checkbox="icheckbox_square-blue">
                    }
                    else
                    {
                        <input type="checkbox" name="PT_APIsManual" id="ptapmanual" data-checkbox="icheckbox_square-blue">
                    }
                    Manual
                </label>
            </div>
            <div id="ccaddress2" style="display:none">
                <label for="">AP Online Payment URL</label>
                <input type="text" id="ptapurl" name="PT_APURL" value="@Model.PT_APURL" class="form-control form-white" />
            </div>
        </div>
    </div>*@
</div>
