
<div class="col-md-14 portlets">
    <table class="table table-bordered" style="width: 100%; font-size:13px; color:black;border: 2px solid #69A8F3; border-collapse: collapse;">
        <!-- PERSONAL DETAILS MODAL INFO-->
        <tr>
            <td align="center" colspan="4" class="TD" style="background-color: #C1DBFA; width: 15%; border: thin solid #69A8F3; ">PERSONAL DETAILS</td>
        </tr>
        <tr>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                Name
            </td>
            <td colspan="3" style="border: thin solid #69A8F3">
                @Model.Name
            </td>
        </tr>
        <tr>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                ID Type
            </td>
            <td style="border: thin solid #69A8F3">
                @Model.IDType
            </td>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                ID No
            </td>
            <td style="border: thin solid #69A8F3">
                @Model.ICNo
            </td>
        </tr>
        <tr>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                Address
            </td>
            <td colspan="3" style="border: thin solid #69A8F3">
                @Model.Address
            </td>
        </tr>
        <tr>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                City
            </td>
            <td style="border: thin solid #69A8F3">
                @Model.City
            </td>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                Postcode
            </td>
            <td style="border: thin solid #69A8F3">
                @Model.Postcode
            </td>
        </tr>
        <tr>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                State
            </td>
            <td style="border: thin solid #69A8F3">
                @Model.State
            </td>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                Country
            </td>
            <td style="border: thin solid #69A8F3">
                @Model.Country
            </td>
        </tr>
        <tr>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                Email Address
            </td>
            <td style="border: thin solid #69A8F3">
                @Model.Email
            </td>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                Telephone No
            </td>
            <td style="border: thin solid #69A8F3">
                @Model.Mobile_No
            </td>
        </tr>

        <!-- COMPANY DETAILS MODAL INFO-->
        <tr>
            <td align="center" colspan="4" class="TD" style="background-color: #C1DBFA; width: 15%; border: thin solid #69A8F3; ">COMPANY DETAILS</td>
        </tr>
        <tr>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                Company Name
            </td>
            <td style="border: thin solid #69A8F3">
                @Model.CompanyName
            </td>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                Registration No
            </td>
            <td style="border: thin solid #69A8F3">
                @Model.CompanyRegistrationNo
            </td>
        </tr>
        <tr>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                Address
            </td>
            <td colspan="3" style="border: thin solid #69A8F3">
                @Model.CompanyAddress
            </td>
        </tr>
        <tr>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                City
            </td>
            <td style="border: thin solid #69A8F3">
                @Model.CompanyCity
            </td>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                Postcode
            </td>
            <td style="border: thin solid #69A8F3">
                @Model.CompanyPostcode
            </td>
        </tr>
        <tr>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                State
            </td>
            <td style="border: thin solid #69A8F3">
                @Model.CompanyState
            </td>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                Country
            </td>
            <td style="border: thin solid #69A8F3">
                @Model.CompanyCountry
            </td>
        </tr>
        <tr>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                Tel No
            </td>
            <td style="border: thin solid #69A8F3">
                @Model.CompanyMobile_No
            </td>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                Fax No
            </td>
            <td style="border: thin solid #69A8F3">
                @Model.CompanyFax_No
            </td>
        </tr>

        <!-- PACKAGE DETAILS MODAL INFO-->
        <tr>
            <td align="center" colspan="4" class="TD" style="background-color: #C1DBFA; width: 15%; border: thin solid #69A8F3; ">PACKAGE DETAILS</td>
        </tr>
        <tr>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                Package Name
            </td>
            <td colspan="3" style="border: thin solid #69A8F3">
                @Model.Package
            </td>
        </tr>
        <tr>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                Media
            </td>
            <td style="border: thin solid #69A8F3">
                @Model.Media
            </td>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                Certificate Procedure
            </td>
            <td style="border: thin solid #69A8F3">
                @Model.CertificateType
            </td>
        </tr>
        <tr>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                Validity (Year)
            </td>
            <td style="border: thin solid #69A8F3">
                @Model.Validity
            </td>
            <td class="TD" style="background-color: #ebf6f5; width: 15%; border: thin solid #69A8F3">
                Valid From - Valid To
            </td>
            <td style="border: thin solid #69A8F3">
                @Model.ValidityFromTo
            </td>
        </tr>
    </table>
</div>
<br />

